<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{# templates/lucky/number.html.twig #}
<h1>Your lucky number is {{ number }}</h1>
<h2>Number from url {{ numberMax }}</h2>

</body>
</html>
